<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="~{/main-layout}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Nhân viên</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Thêm nhân viên</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Thêm nhân viên</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
		<form th:action="@{/createEmployee}" method="post">
			<div class="row">
				<div class="col-md-6">
				<input type="hidden" id="em_id" th:value="${employee.emId}" th:name="id">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Chung</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool"
									data-card-widget="collapse" title="Collapse">
									<i class="fas fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="name">Tên nhân viên</label> <input type="text"
									id="name" th:value="${employee.name}" th:name="name" class="form-control">
							</div>
							<div class="form-group">
								<label for="birthday">Ngày sinh</label> 
								<input type="date"
									id="birthday" th:value="${employee.birthday}" th:name="birthday" class="form-control">
							</div>
							<div class="form-group">
								<label for="general">Giới tính</label> 
								<select
									id="general" th:value="${employee.general}" th:name="genaral" class="form-control custom-select">
									<option selected th:value="2" disabled>Chọn một</option>
									<option th:value="0" th:selected="${employee.general == 0} ? 'true' : 'false'">Nam</option>
									<option th:value="1" th:selected="${employee.general == 1} ? 'true' : 'false'">Nữ</option>
									<option th:value="2" th:selected="${employee.general == 2} ? 'true' : 'false'">Khác</option>
								</select>
							</div>
							<div class="form-group">
								<label for="department">Phòng ban</label> 
								<select id="department" th:name="department" class="form-control custom-select" multiple="multiple">
									<option selected disabled>Chọn một</option>
									<option th:each="depart,i: ${departmentList}"
									 th:text="${depart.deName}" th:value="${depart.deId}"></option>
								</select>
							</div>
							<div class="form-group">
								<label for="position">Vị trí</label> 
								<select id="position" th:name="position" class="form-control custom-select" multiple="multiple">
									<option selected disabled>Chọn một</option>
									<option th:each="position,i: ${positionList}" th:text="${position.posName}" th:value="${position.posId}"></option>
								</select>
							</div>
							<div class="form-group">
								<label for="major">Chuyên ngành</label>
								<input
									type="text" id="major" th:value="${employee.major}" th:name="major" class="form-control">
							</div>
							<div class="form-group">
								<label for="language">Ngôn ngữ</label> <input
									type="text" id="language" th:value="${employee.language}" th:name="language" class="form-control">
							</div>
							<div class="form-group">
								<label for="it">It</label> <input type="text"
									id="it" th:value="${employee.it}" th:name="it"  class="form-control">
							</div>
							<div class="form-group">
								<label for="start_date">Ngày bắt đầu</label> 
								<input type="date"
									id="start_date" th:value="${employee.startDate}" th:name="startDate" class="form-control">
							</div>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<div class="col-md-6">
					<div class="card card-secondary">
						<div class="card-header">
							<h3 class="card-title">Bổ sung</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool"
									data-card-widget="collapse" title="Collapse">
									<i class="fas fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="address">Địa chỉ</label> <input
									type="text" id="address" th:value="${employee.address}" th:name="address" class="form-control">
							</div>
							<div class="form-group">
								<label for="end_date">Ngày kết thúc</label> 
								<input
									type="date" id="end_date" th:value="${employee.endDate}" th:name="endDate" class="form-control">
							</div>
							<div class="form-group">
								<label for="result">Thành tích</label>
								<textarea id="result" th:value="${employee.result}" th:name="result" class="form-control" rows="4"></textarea>
								 
							</div>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<a href="/employees" class="btn btn-secondary">Hủy</a> 
					<input type="submit"
						value="Lưu" class="btn btn-success float-right">
				</div>
			</div>
			</form>
		</section>
	</div>
</body>
</html>